body{
	margin: 0px;
	padding: 0px;
}
/*!header style*/
header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	background-color: #F9F6F5;
}
header-items{
	margin-right: 15px;
}
header-items:hover{
	text-decoration: underline ;
}
header-items > a{
	text-decoration: none;
	color: black;
}
items-button{
	margin-right: 30px;
}
/*!main style*/
main > div{
	margin: 0 135px;
	margin-bottom: 130px;
}

/** banner style*/
.banner{
	display: flex;
	flex-direction: column;
	background-color: #F9F6F5;
	background-image: url('../img/backgraund.png');
	background-repeat: no-repeat;
	background-position: top right;
	height: 600px;
	padding-left: 100px;
	position: relative;
	margin: 0;
	margin-bottom: 130px;
}
.banner > h1 {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 56px;
	margin: 0;
	margin-top: 90px;

}
.banner > p {
	display: inline-block;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	height: 90px;
	margin: 0;
}
/**search form style*/
*{box-sizing: border-box;}
form {
  position: relative;
  width: 326px;
  height: 48px;
}
.d2 input, .d2 button {
  border: none;
  outline: none;
}
.d2 input {
  width: 100%;
  height: 42px;
  background: #fff;
  padding-left: 15px;
}
.d2 button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #402F2C;;
  cursor: pointer;
}
.d2 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

.btn{
	margin-top: 60px;
	width: 148px;
	height: 56px;
	background-color: #402F2C;
	color: #fff;
	border: none;
	font-size: 18px;
	font-family: 'Red Hat Display', sans-serif;
	text-align: center;
	text-decoration: none;
	padding-top: 18px;
}
.btn:hover{
	background-color: #806D6A;
}
/**arrow style*/
.arrow {
	width: 15px;
	height: 15px;
	border-top: 2.5px solid #000;
	border-right: 2.5px solid #000;
  	position: absolute;
	left: 50%;
	bottom: 10%;
}
.arrow-left {
	transform: rotate(-135deg);
}
.arrow-right {
	transform: rotate(45deg);
	margin-left: 60px;
}

/** sponsors block style*/
.sponsors{
	display: flex;
	justify-content: space-between;
	padding: 43px 0px;
	border-top: 1px solid #EEEEEE ;
	border-bottom: 1px solid #EEEEEE;
}

/**product-block style*/
.product{
	margin-bottom: 130px;
	display: flex;
	justify-content: center;
}
.product-content{ 
	display: flex;
}
.product-left{
	border: 0.5px solid #D2D2D2;
	margin-right: 20px;
}
.product-right{
	border: 0.5px solid #D2D2D2;
	margin-left: 20px;
}
.bottom-text{
	padding-left: 30px;
}
.btn-price{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	text-align: center;
}
.btn-buy{
	display: block;
	width: 137px;
	height: 56px;
	background-color: #402F2C;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-family: 'Red Hat Display' sans-serif;
	font-size: 18px;
	margin-right: 24px;
}
.btn-buy:hover{
	background-color: #806D6A;
}
.btn-cart{/*TODO: add hover effect btn*/
	width: 162px;
	height: 56px;
	text-align: center;
	text-decoration: none;
	border: 1px solid rgba(104, 90, 82, 0.46);
	font-family: 'Red Hat Display' sans-serif;
	font-size: 18px;
	color: #402F2C;
}
.price{
	margin-left: 140px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 64px;
	height: 32px;
}
.text-aroow{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	font-family: 'Red Hat Display' sans-serif;
	font-size: 20px;
	color: #555555;	
}
.wrap > h1{
	font-family: 'Red Hat Display' sans-serif;
	font-size: 56px;
	margin-bottom: 0;
}
.bottom-text > h1{
	font-family: 'Red Hat Display' sans-serif;
	font-size: 40px;
}
.bottom-text > p{
	font-family: 'Red Hat Display' sans-serif;
	font-size: 20px;
	color: #555555;
}

/**user-reviews block style*/
.user-reviews{
	background-color: #FDF8F5;
	display: flex;
	justify-content: space-around;
	height: 250px;
	align-items: center;
	font-family: 'Red Hat Display' sans-serif;
}
.user-reviews_items>h1{
	display: inline;
	border-bottom: 2px solid black; /*create underline*/
	font-size: 56px;
	color: #222222;
	;
}
.user-reviews_items>p{
	font-size: 24px ;
	color: #555555;
}

/**AboutProduct style*/
.AboutProduct{/*TODO:finish the Adout Product*/

}