body{
	margin: 0px;
	padding: 0px;
	font-family: 'Red Hat Display' sans-serif;
}
/*!header style*/
header{
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 60px;
	background-color: #F9F6F5;
}
header-items{
	margin-right: 15px;
}
header-items:hover{
	text-decoration: underline ;
}
header-items > a{
	text-decoration: none;
	color: black;
}
items-button{
	margin-right: 30px;
}
/*!main style*/
main > div{
	margin: 0 135px;
	margin-bottom: 130px;
}
/** button,form-search hover effect style*/
.btn-h:hover{
	background-color: #806D6A;
}
.btnw-h:hover{
	background-color: #F5F5F5;
}
.input-hover_focus:hover{
	background-color: #F5F5F5;
}
.input-hover_focus:focus{
	background-color: #F5F5F5;
}

/** banner style*/
.banner{
	display: flex;
	flex-direction: column;
	background-color: #F9F6F5;
	background-image: url('../img/backgraund.png');
	background-repeat: no-repeat;
	background-position: top right;
	height: 600px;
	padding-left: 100px;
	position: relative;
	margin: 0;
	margin-bottom: 130px;
}
.banner > h1 {
	font-family: 'Red Hat Display', sans-serif;
	font-size: 56px;
	margin: 0;
	margin-top: 90px;

}
.banner > p {
	display: inline-block;
	font-family: 'Red Hat Display', sans-serif;
	font-size: 20px;
	height: 90px;
	margin: 0;
}
/**search form style*/
*{box-sizing: border-box;}
form {
  position: relative;
  width: 326px;
  height: 48px;
}
.d2 input, .d2 button {
  border: none;
  outline: none;
}
.d2 input {
  width: 100%;
  height: 42px;
  background: #fff;
  padding-left: 15px;
}
.d2 button {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #402F2C;;
  cursor: pointer;
}
.d2 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

.btn{
	margin-top: 60px;
	width: 148px;
	height: 56px;
	background-color: #402F2C;
	color: #fff;
	border: none;
	font-size: 18px;
	font-family: 'Red Hat Display', sans-serif;
	text-align: center;
	text-decoration: none;
	padding-top: 18px;
	cursor: pointer;
}
/**arrow style*/
.arrow {
	width: 15px;
	height: 15px;
	border-top: 2.5px solid #000;
	border-right: 2.5px solid #000;
  	position: absolute;
	left: 50%;
	bottom: 10%;
}
.arrow-left {
	transform: rotate(-135deg);
}
.arrow-right {
	transform: rotate(45deg);
	margin-left: 60px;
}

/** sponsors block style*/
.sponsors{
	display: flex;
	justify-content: space-between;
	padding: 43px 0px;
	border-top: 1px solid #EEEEEE ;
	border-bottom: 1px solid #EEEEEE;
}

/**product-block style*/
.product{
	margin-bottom: 130px;
	display: flex;
	justify-content: center;
}
.product-cart{ 
	display: flex;
}
.product-left{
	border: 0.5px solid #D2D2D2;
	margin-right: 20px;
}
.product-right{
	border: 0.5px solid #D2D2D2;
	margin-left: 20px;
}
.bottom-text{
	padding-left: 30px;
}
.btn-price{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
	text-align: center;
}
.btn-buy{
	display: block;
	width: 137px;
	height: 56px;
	background-color: #402F2C;
	color: #fff;
	text-align: center;
	text-decoration: none;
	font-family: 'Red Hat Display' sans-serif;
	font-size: 18px;
	margin-right: 24px;
}
.btn-cart{
	width: 162px;
	height: 56px;
	text-align: center;
	text-decoration: none;
	border: 1px solid rgba(104, 90, 82, 0.46);
	font-family: 'Red Hat Display' sans-serif;
	font-size: 18px;
	color: #402F2C;
}
.price{
	margin-left: 140px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 64px;
	height: 32px;
	cursor: text;
}
.text-aroow{
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	font-family: 'Red Hat Display' sans-serif;
	font-size: 20px;
	color: #555555;	
}
.wrap > h1{
	font-family: 'Red Hat Display' sans-serif;
	font-size: 56px;
	margin-bottom: 0;
}
.bottom-text > h1{
	font-family: 'Red Hat Display' sans-serif;
	font-size: 40px;
}
.bottom-text > p{
	font-family: 'Red Hat Display' sans-serif;
	font-size: 20px;
	color: #555555;
}

/**user-reviews block style*/
.user-reviews{
	background-color: #FDF8F5;
	display: flex;
	justify-content: space-around;
	height: 250px;
	align-items: center;
	font-family: 'Red Hat Display' sans-serif;
}
.user-reviews_items>h1{
	display: inline;
	border-bottom: 2px solid black; /*create underline*/
	font-size: 56px;
	color: #222222;
	;
}
.user-reviews_items>p{
	font-size: 24px ;
	color: #555555;
}

/**AboutProduct style*/
.AboutProduct{
	font-family: 'Red Hat Display' sans-serif;
	height: 600px;
	display: flex;
	justify-content: stretch;
}
.AboutProduct__info{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.AboutProduct>img{
	width: 50%;
}
.AboutProduct>div>button{
	border: none;
	background-color: #402F2C;
	color: white;
	padding: 16px 32px;
	font-size: 18px;
	margin-top: 2.5em;
	cursor: pointer;
}
.AboutProduct>div>h1{
	font-family: 'Red Hat Display' sans-serif;
	font-weight: 500;
	font-size: 60px;
}
.AboutProduct>div>p{
	font-size: 20px;
	margin-right: 1.5em;
}

/**AboutMaster style*/
.AboutMaster{
	display: flex;
	font-family: 'Red Hat Display' sans-serif;

}
.infoMaster{
	padding-left: 54px;
}
.infoMaster>h1{
	color: #222222;
	font-style: normal;
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 0px;

}
.infoMaster>q{
	color:#6FB587;
	font-size: 40px;
	display: block;
	margin-bottom: 79px;
	width: 42.2vw;
}
.infoMaster>q>span{
	color: #555555;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 32px;
}
.infoMaster>p{
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: #555555;
	margin-top: 10px;
}
/**rating*/
.rating{
	position: relative;
	font-size: 30px;
	display: inline-block;
	margin-bottom: 40px;
}
.rating::before{
	content: "★★★★★";
	display: block;
}
.rating-items{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row-reverse;
	overflow: hidden;
}
.rating-items__item{
	position: absolute;
	width: 0%;
	height: 0%;
	opacity: 0;
	overflow: hidden;
	top: 0;
	left: 0;
}
.rating-items__label{
	flex: 0 0 20%;
	height: 100%;
	cursor: pointer;
	color: #FFE6B5;
}
.rating-items__label::before{
	content: "★";
	display: block;
	transition: color 0.3s ease 0s;
}
.rating-items__item:checked,
.rating-items__item:checked ~ .rating-items__label{
	color: #ffc046;
}
.rating-items__label:hover,
.rating-items__label:hover ~ .rating-items__label,
.rating-items__label:checked ~ .rating-items__label:hover{
	color: #ffc046;
}

/**arrows in circle in the AboutMaster*/
.arrow_circle{
	position: absolute;
	width: 32px;
	height: 32px;
	border: 1px solid #6FB58726;
	border-radius: 50%;
	display: block;
}
.arrow_circle:hover,.arrow_circle:hover .arrow__right,.arrow_circle:hover .arrow__left{
	border-color: #6FB587;
}

.circle__right{
	margin-left: 52px;
}
.arrow__left, .arrow__right{
	width: 10px;
	height: 10px;
}
.arrow__left{
	border-left: 1px solid #000;
	border-bottom: 1px solid #000;
	border-color: #6FB58726;
	transform: rotate(45deg);
	position: absolute;
	right: 8px;
	top: 10px;
}
.arrow__right{
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	border-color: #6FB58726;
	transform: rotate(45deg);
	position: absolute;
	top: 10px;
	left: 8px;
}

/**footer style*/
footer{
	background-color: #FAFAFA;
}
/**top-footer style*/
.top-footer{
	margin: 0 6.94vw;
	padding-top: 100px;
	padding-bottom: 64px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #DDDDDD;
}
.top-footer h1{
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 46px;
}

/**Subscribe-form style*/
.Subscribe-form{
	width: 386px;
	height: 56px;
	position: relative;
}
.Subscribe-form input,
.Subscribe-form button{
	border: none;
	outline: none;
}
.Subscribe-form input{
	width: 100%;
	height: 56px;
	background-color: #fff;
	padding-left: 18px;
}

.Subscribe-form button{
	width: 100px;
	height: 40px;
	position: absolute;
	top: 8px;
	right: 8px;
	background-color:#402F2C;
	color: #ffff;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	cursor: pointer;
}

/**bottom-footer style*/
.bottom-footer{
	margin: 0 14.2361vw;
	padding-bottom: 50px;
	display: flex;
	justify-content: space-between;
}
.Dudeshape-foter-info{
	margin-top: 60px;
}
.Quick-Links, .Contact-info{
	margin-top: 50px;
}

.Dudeshape-foter-info p{
	width: 22.916vw;
}
.Quick-Links h3, .Contact-info h3{
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color:#222222;
}
.Quick-Links>div, .Contact-info>div,
.Dudeshape-foter-info>div {
	margin-top: 39px;
}
.Quick-Links a, .Contact-info a,
.Dudeshape-foter-info p{
	color:#222222;
	font-family: 'Red Hat Display';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}
.Quick-Links p:hover, .Contact-info p:hover{
	text-decoration: underline
}
.Quick-Links a, .Contact-info a{
	text-decoration: none;
}


.cocial-netwoeks__item>a{
	text-decoration: none;
	margin: 0;
	margin-right: 30px;
}
.cocial-netwoeks__item>a:last-child{
	margin-right: 0;
}